
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <footer>
            @await Component.InvokeAsync("Greeting")
        </footer>
    </div>
</body>
</html>
