@model CreateSamuriaViewModel

@{
    ViewBag.Title = "Create new samurai";
}
<script type="text/javascript" src="CreateSamurai.js"></script>
<h1>Add new samurai</h1>
<form asp-antiforgery="true" method="post" asp-controller="Samurai" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="HasSword"></label>
        <input asp-for="HasSword" type="checkbox" />
        <span asp-validation-for="HasSword"></span>
    </div>
    <div>
        <label asp-for="SecretIdentity"></label>
        <input asp-for="SecretIdentity" />
        <span asp-validation-for="SecretIdentity"></span>
    </div>
    <div>
        <label asp-for="HairCut"></label>
        <select asp-for="HairCut" asp-items="@Html.GetEnumSelectList(typeof(HairCut))"></select>
        <span asp-validation-for="HairCut"></span>
    </div>
    <div>
        <label asp-for="Clan"></label>
        <input asp-for="Clan"/>
        <span asp-validation-for="Clan"></span>
    </div>
    <div id="AddQuotes">
        <Button id="AddQuotesBtn" type="button">Add Quotes</Button>
        <div id="AddQuotesInput">
            <div>
                <h4>@nameof(QuoteType.VictoryQuote)</h4>
                <textarea rows="4" cols="50" asp-for="VictoryQuote"></textarea>
                <span asp-validation-for="VictoryQuote"></span>
            </div>
            <div>
                <h4>@nameof(QuoteType.DefeatQuote)</h4>
                <textarea rows="4" cols="50" asp-for="DefeatQuote"></textarea>
                <span asp-validation-for="DefeatQuote"></span>
            </div>
        </div>
    </div>



    <div>
        <input type="submit" value="Add" />
    </div>
</form>


<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>