@model StartPageViewModel
@{

    ViewBag.Title = "StartSida";
}

<h1>Startsida</h1>
@foreach (var samurai in Model.Samurais)
{
    @Html.Partial("_SamuariSummary", samurai)
}
<br/>
<br/>
<div>
    <a class="btn btn-primary" asp-controller="Samurai" asp-action="Create" >Create</a>
</div>

